.header {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 10px 0 10px;
  background: url(../images/cspacelogo.png) no-repeat calc(100% - 10px) 22px;
  background-size: auto 44px;
}

.header .logo {
  height: 44px;
  flex: 0 0 auto;
}
