:focus {
  outline: 1px dotted #4D4D4D;
}

body {
  margin: 0;
  padding: 5px 10px 5px 10px;
}

body, input, textarea, table, td, th {
  color: #4D4D4D;
}

body, input, textarea, button, table, td, th {
  font-family: 'Open Sans', sans-serif;
  font-size: 9pt;
  font-weight: 400;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

input, textarea, select {
  outline: none;
  border: 1px solid #DDDDDD;
}

input:focus, textarea:focus, select:focus {
  border-color: #4D4D4D;
  outline: none;
}

select {
  border-radius: 0;
  background: white;
  margin: 0;
}

textarea {
  resize: none;
}

form {
  margin: 0;
}

button {
  border: none;
  margin: 0;
  color: #FFFFFF;
  background-color: #73AA4F;
  border: 1px solid #73AA4F;
  border-radius: 3px;
  outline: none;
}

button:hover {
  border-color: rgba(16, 16, 16, .2);
  box-shadow: 0 -10px 14px 0 rgba(32, 32, 32, .2) inset;
}

main {
  padding: 0 10px 20px 10px;
}

th, td {
  margin: 0;
  padding: 0;
}

caption {
  text-align: left;
}