.collapsiblepanel > .panelheader {
  background-size: 8px 7px;
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
  background-image: url(../images/collapse.png);
}

.collapsiblepanel > .panelheader:hover {
  background-color: rgba(0, 0, 0, .6);
  border-color: rgba(16, 16, 16, .2);
  box-shadow: 0 -10px 14px 0 rgba(32, 32, 32, .2) inset;
}

.collapsiblepanel.collapsed > .panelheader {
  border-radius: 3px;
  background-image: url(../images/expand.png);
}

.collapsiblepanel.collapsed > .panelBody {
  display: none;
}