.controlledinput {
  position: relative;
}

.controlledinput .dropdownjewel {
  background-image: url(../images/input-dropdown.png);
  background-size: 6px 6px;
  background-repeat: no-repeat;
  background-position: center center;
}

.controlledinput .input {
  margin-bottom: 0;
}

.controlledinput.filtering input {
  color: #999999;
}

.controlledinput .filteredcount, .controlledinput .totalcount {
  padding: 0 4px 0 4px;
  font-size: 8pt;
  font-weight: 300;
  font-style: italic;
}

.controlledinput .filteredcount {
  padding-top: 4px;
}

.controlledinput .totalcount {
  padding-bottom: 4px;
}

.controlledinput .totalcount:hover {
  text-decoration: underline;
  cursor: pointer;
}
.controlledinput .optionlist {
  padding: 2px 0 2px 0;
}

.controlledinput .optionlist .option {
  padding: 2px 4px 2px 4px;
  cursor: default;
  white-space: nowrap;
}

.controlledinput .optionlist .option.active {
  outline: 1px dotted #4D4D4D;
  outline-offset: -1px;
}

.controlledinput .optionlist .option:hover {
  background-color: rgb(115, 156, 210);
  color: white;
}

.controlledinput .popup {
  position: absolute;
  min-width: calc(100% - 1px);
  max-height: 200px;
  z-index: 90;
  background: #FFFFFF;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .33);
  display: none;
  overflow: scroll;
  left: 1px;
  top: 22px;
}

.controlledinput .popup.open {
  display: block;
}