.controlledinput {
  position: relative;
}

.controlledinput .dropdownjewel {
  background-image: url(../images/input-dropdown.png);
  background-size: 8px 7px;
  background-repeat: no-repeat;
  background-position: center center;
}

.controlledinput .input {
  margin-bottom: 0;
}

.controlledinput .optionlist {
  padding: 2px 0 2px 0;
}

.controlledinput .optionlist .option {
  padding: 2px 4px 2px 4px;
  cursor: default;
  white-space: nowrap;
}

.controlledinput .optionlist .option:hover {
  background-color: rgb(115, 156, 210);
  color: white;
}

.controlledinput  .popup {
  position: absolute;
  min-width: 100%;
  max-height: 200px;
  z-index: 90;
  background: #FFFFFF;
  box-shadow: 0 0 3px 0 #DDDDDD;
  display: none;
  overflow: scroll;
  top: 23px;
}

.controlledinput .popup.open {
  display: block;
}