.footer {
  border-top: 1px solid #DDDDDD;
  padding-top: 10px;
  font-size: 8pt;
  text-align: center;
  background-image: linear-gradient(to bottom, #F0F0F0 0%, #FFFFFF 20%);
}

.footer ul {
  list-style-type: none;
}

.footer li {
  display: inline-block;
}

.footer li:not(:last-child)::after {
  content: "•";
  margin: 0 .5em 0 .5em;
}