.input {
  width: 100%;
}

.input:not(:last-child) {
  margin-bottom: 10px;  
}

.input > label {
  font-size: 8pt;
  display: block;
  margin-bottom: 2px;
}

.input.required > label {
  color: red;
}

.input.required > label::after {
  content: '*';
}

.input .control {
  height: 22px;
  line-height: 18px;
  display: block;
  width: 100%;
}

.input textarea.control {
  height: 80px;
}

.input > .jeweledcontrol {
  position: relative;
}

.input > .jeweledcontrol > .control {
  padding-right: 20px;
}

/* The jewel: */

.input > .jeweledcontrol > .control + * {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 18px;
  height: 18px;
}

