.login {
  display: flex;
  padding: 60px 30px 60px 30px;
  min-height: 400px;
}

.login .panelbody {
  padding: 30px;
  border-radius: 3px;
}

.login form > div {
  display: flex;
  align-items: baseline;
  margin: 8px 0 8px 0;
}

.login .inprogress form {
  visibility: hidden;
}

.login .inprogress .panelbody {
  background-image: url(../images/spinner.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 28px 28px;
}

.login .message {
  margin-bottom: 16px;
}

.login label {
  width: 20%;
}

.login input {
  float: right;
  width: 300px;
}

.login button {
  float: right;
}