.login {
  display: flex;
  width: 900px;
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 60px 0 60px 0;
}

.login > .formcontainer {
  display: flex;
  width: 50%;
  align-items: baseline;
}

.login > .formcontainer > .panel {
  width: 100%;
}

.login > .formcontainer > .panel > .panelbody {
  padding: 30px;
  border-radius: 3px;
}

.login form > div {
  display: flex;
  align-items: baseline;
  margin: 8px 0 8px 0;
}

.login .in_progress form {
  visibility: hidden;
}

.login .in_progress .panelbody {
  background-image: url(../images/spinner.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 28px 28px;
}

.login .statemessage {
  margin-bottom: 16px;
}

.login label {
  width: 20%;
}

.login input {
  float: right;
  width: 300px;
}

.login button {
  float: right;
}