.logout {
  display: flex;
  padding: 60px 30px 60px 30px;
  min-height: 400px;
}

.logout .panelbody {
  padding: 30px;
  border-radius: 3px;
  min-width: 240px;
  min-height: 100px;
}

.logout .statuscontainer {
  display: flex;
  align-items: baseline;
}

.logout .inprogress .panelbody {
  background-image: url(../images/spinner.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 28px 28px;
}

.logout .message {
  margin-bottom: 16px;
}
