.logout {
  display: flex;
  width: 900px;
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 60px 0 60px 0;
}

.logout > .statuscontainer {
  display: flex;
  width: 50%;
  align-items: baseline;
}

.logout > .statuscontainer > .panel {
  width: 100%;
}

.logout > .statuscontainer > .panel > .panelbody {
  padding: 30px;
  border-radius: 3px;
  min-height: 100px;
}

.logout .in_progress .panelbody {
  background-image: url(../images/spinner.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 28px 28px;
}

.logout .message {
  margin-bottom: 16px;
}
