.pager {
  display: flex;
  align-items: baseline;
  font-weight: 300;
  font-size: 8pt;
  padding: 0 1px 0 1px;
  background-color: #EFEFEF;
  border-top: 1px solid #DDDDDD;
}

.pager > div {
  flex: 1 1;
  text-align: center;
}

.pager > .previous {
  text-align: left;
}

.pager > .next {
  text-align: right;
}

.pager button {
  padding: 2px 9px 2px 9px;
  border-radius: 0;
  background: none;
  border: none;
  font-weight: 300;
  font-size: 8pt;
  color: #4D4D4D;
}

.pager button:focus {
  outline: 1px solid #32561B;
}

.pager button:enabled:hover {
  background-color: #4A7F28;
  color: #FFFFFF;
  outline: 1px solid #32561B;
}

.pager button:disabled {
  color: #BBBBBB;
}