.panel {
  margin-top: 8px;
  border-radius: 3px;
}

.panelHeader {
  padding: 3px 10px 3px 10px;
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, .55);
  border-radius: 3px 3px 0 0;
}

.panelBody {
  background-color: rgba(212, 212, 212, .2);
  padding: 10px;
}

.panel:not(:last-child) {
  margin-bottom: 8px;
}