.recordeditor {
  background-color: #F0F5FB;
}

.recordeditor > .recordeditorbody {
  display: flex;
}

.recordeditor > .recordeditorbody > .tabcontainer {
  width: 70%;
  z-index: 1;
}

.recordeditor > .recordeditorbody > .sidebarcontainer {
  width: 30%;
  z-index: 0;
}

.recordeditor > .recordeditorbody > .tabcontainer form:not(:last-child) {
  padding-bottom: 10px;
}