.recordhistory {
  flex-grow: 1;
}

.recordhistory .panel {
  float: right;
  font-size: 8pt;
  font-weight: 300;
  position: relative;
}

.recordhistory .panel .compactview {
  padding-right: 8px;
  background: url(../images/dropdown.png) right center no-repeat;
  background-size: 4px 4px;
}

.recordhistory .panel .fullview {
  position: absolute;
  z-index: 1;
  display: none;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .3);
  background-color: #FFFFFF;
  padding: 12px;
  left: -12px;
  top: -12px;
  width: 100%;
}

.recordhistory .panel.full .fullview {
  display: block;
}