.recordeditor {
  background-color: #F0F5FB;
  padding: 0 0 10px 10px;
}

.recordeditor > .recordeditorbody {
  display: flex;
}

.recordeditor > .recordeditorbody > .tabcontainer {
  width: 70%;
  z-index: 1;
}

.recordeditor > .recordeditorbody > .sidebarcontainer {
  width: 30%;
  z-index: 0;
}

.recordeditor > .recordeditorbody > .tabcontainer form:not(:last-child) {
  padding-bottom: 10px;
}


.recordeditor.loading > .titlebar > .content > h1 {
  padding-left: 30px;
  background-image: url(../images/spinner.svg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 28px 28px;
}