.repeatinginput > ul.instances {
  margin-bottom: 1px;
}

.repeatinginput > .instances > li.instance > .input:not(:last-child) {
  margin-bottom: 0;
}

.repeatinginput > .instances > li.instance {
  display: flex;
  align-items: stretch;
}

.repeatinginput > .instances > li.instance:not(:last-child) {
  margin-bottom: 1px;
}

.repeatinginput > .instances > .instance .tab {
  font-size: 8pt;
  width: 20px;
  text-align: center;
  background: white;
  border: 1px solid #DDDDDD;
  border-right: none;
  flex-shrink: 0;
  position: relative;
}

.repeatinginput > .instances > .instance .tab > .moveTopButton {
  font-weight: 300;
  border-radius: 0;
  border: none;
  background: white;
  color: #4D4D4D;
  font-size: 8pt;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
}

.repeatinginput > .instances > li.instance > .input {
  flex: 100%;
}

.repeatinginput > .instances > li.instance > .input > .input > label {
  display: none;
}


.repeatinginput > .instances > .instance .removeButton {
  width: 21px;
  height: 22px;
  font-size: 8pt;
  border: 1px solid #DDDDDD;
  background: white;
  color: #4D4D4D;
  border-radius: 0;
  border-left: none;
  flex-shrink: 0;
  position: relative;
}

.repeatinginput > .addButton {
  width: 22px;
  height: 16px;
  padding: 0 4px 0 4px;
  font-size: 8pt;
  background: white;
  border-color: #DDDDDD;
  color: #4D4D4D;
  position: relative;
  z-index: 10;
  border-radius: 0;
  line-height: 12px;
}

.repeatinginput > .instances > .instance .tab > .moveTopButton:enabled:hover,
.repeatinginput > .instances > .instance .tab > .moveTopButton:enabled:focus {
  left: -1px;
  top: -1px;
  border: 1px solid #DDDDDD;
  width: 22px;
  height: 22px;
  z-index: 1;
  color: rgba(0, 0, 0, 0);
  background-size: 7px 8px;
  background-repeat: no-repeat;
  background-position: center center;
}

.repeatinginput > .instances > .instance .tab > .moveTopButton:enabled:focus {
  background-image: url(../images/move-top-black.png);
}

.repeatinginput > .instances > .instance .tab > .moveTopButton:enabled:hover {
  background-image: url(../images/move-top-white.png);
  background-color: #4A7F28;
}

.repeatinginput > .instances > .instance .tab > .moveTopButton:enabled:hover,
.repeatinginput > .instances > .instance .tab > .moveTopButton:enabled:focus,
.repeatinginput > .addButton:hover,
.repeatinginput > .addButton:focus,
.repeatinginput > .instances > .instance .removeButton:enabled:hover,
.repeatinginput > .instances > .instance .removeButton:enabled:focus {
  outline: 1px solid #32561B;
  outline-offset: -1px;
}

.repeatinginput > .instances > .instance .removeButton:enabled:hover,
.repeatinginput > .instances > .instance .removeButton:enabled:focus {
  left: -1px;
  border-left: 1px solid #DDDDDD;
}

.repeatinginput > .addButton:hover,
.repeatinginput > .instances > .instance .removeButton:enabled:hover {
  background-color: #4A7F28;
  color: #FFFFFF;
}

