.sidebar {
  padding-top: 65px;
  width: 100%;
}

.sidebar > .panel > .panelheader {
  border-radius: 0;
  background-color: #739CD2;
}

.sidebar > .panel.collapsed > .panelheader {
  border-radius: 0;
}

.sidebar > .panel.collapsiblepanel > .panelheader:hover {
  background-color: #739CD2;
}

.sidebar > .panel > .panelbody {
  min-height: 100px;
/*  resize: vertical;
  overflow-y: scroll;*/
  padding: 0;
}