.tabbedpanelgroup {
  margin-top: 8px;
}

.tabbedpanelgroup > .tabs > .tab {
  display: inline-block;
}

.tabbedpanelgroup > .tabs > .tab:not(:last-child) {
  margin-right: 3px;
}

.tabbedpanelgroup > .tabs > .tab {
  margin: 0;
  padding: 3px 10px 1px 10px;
  border-radius: 5px 5px 0 0;
  cursor: default; 
  background-color: rgba(115, 156, 210, .6);
  color: white;
  box-shadow: 0 -1px 1px 0 #BBBBBB inset;
  border: none;
}

.tabbedpanelgroup > .tabs > .tab:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(115, 156, 210);
  box-shadow: 0 -1px 1px 0 #E5E5E5 inset;
}

.tabbedpanelgroup > .tabs > .tab:focus {
  outline: 1px dotted #4D4D4D;
}

.tabbedpanelgroup > .tabs > .tab.selected {
  background-color: rgb(255, 255, 255);
  color: rgb(115, 156, 210);
  box-shadow: 0 -1px 1px 0 #E5E5E5;
  padding: 4px 10px 1px 10px;
}

.tabbedpanelgroup > .panelbodies > .panelbody {
  padding: 10px;
  display: none;
}

.tabbedpanelgroup > .panelbodies > .panelbody.selected {
  display: block;
}

.tabbedpanelgroup > .panelbodies > .panelbody {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 2px 0 #E5E5E5;
}
