.tabularinputgroup {
  width: 100%;
}

.tabularinputgroup caption {
  margin-bottom: 2px;
}

.tabularinputgroup thead {
  border: 1px solid #DDDDDD;
}

.tabularinputgroup th {
  text-align: left;
  padding: 2px;
}

.tabularinputgroup td {
  border: 1px solid #DDDDDD;
}

.tabularinputgroup label {
  font-size: 8pt;
}

.tabularinputgroup .input {
  margin: 0;
}

.tabularinputgroup .control {
  border-color: white;
  height: calc(2em - 2px);
}

.tabularinputgroup .control:focus {
  border-color: #4D4D4D;
}