.tabularcompoundinput {
  width: 100%;
}

.tabularcompoundinput:not(:last-child) {
  margin-bottom: 10px;
}

.tabularcompoundinput > caption {
  font-size: 8pt;
  margin-bottom: 2px;
}

.tabularcompoundinput > thead > tr > th {
  font-size: 8pt;
  text-align: left;
  padding: 2px 1px 2px 1px;
}

.tabularcompoundinput > tbody > tr > td {
  border: 1px solid #DDDDDD;
}

.tabularcompoundinput > tbody > tr > td .control {
  border: none;
  height: 20px;
}

.tabularcompoundinput > tbody > tr > td .control:focus {
  outline: 1px solid #4D4D4D;
  outline-offset: 0;
}

.tabularcompoundinput > tbody > tr > td .jeweledcontrol > .control + * {
  top: 1px;
  right: 1px;
}