.tabularcompositeinput {
  width: 100%;
}

.tabularcompositeinput > caption {
  font-size: 8pt;
  margin-bottom: 2px;
}

.tabularcompositeinput > thead {
  border: 1px solid #DDDDDD;
}

.tabularcompositeinput > thead > tr > th {
  font-size: 8pt;
  text-align: left;
  padding: 2px;
}

.tabularcompositeinput > tbody > tr > td {
  border: 1px solid #DDDDDD;
}

.tabularcompositeinput .input {
  margin: 0;
}

.tabularcompositeinput .control {
  border-color: white;
  height: calc(2em - 2px);
}

.tabularcompositeinput .control:focus {
  border-color: #4D4D4D;
}