.tabularcompoundinput {
  width: 100%;
}

.tabularcompoundinput:not(:last-child) {
  margin-bottom: 10px;
}

.tabularcompoundinput > caption {
  font-size: 8pt;
  font-weight: 300;
  margin-bottom: 2px;
}

.tabularcompoundinput tr > th {
  font-size: 8pt;
  font-weight: 300;
  text-align: left;
  padding: 2px;
}

.tabularcompoundinput > tbody > tr > td {
  border: 1px solid #DDDDDD;
}

.tabularcompoundinput > tbody > tr > td > .input > .wrapper > .control,
.tabularcompoundinput > tbody > tr > td > .input > .input > .wrapper > .control
{
  border: none;
  height: 20px;
}

.tabularcompoundinput > tbody > tr > td textarea.control {
  height: 78px;
}

.tabularcompoundinput > tbody > tr > td > .input > .wrapper > .control:focus,
.tabularcompoundinput > tbody > tr > td > .input > .input > .wrapper > .control:focus
{
  outline: 1px solid #4D4D4D;
  outline-offset: 0;
}

.tabularcompoundinput > tbody > tr > td > .input > .wrapper > .control + *,
.tabularcompoundinput > tbody > tr > td > .input > .input > .wrapper > .control + *
{
  top: 1px;
  right: 1px;
}

.tabularcompoundinput > tbody > tr > td > .controlledinput > .input > .wrapper > .popup,
.tabularcompoundinput > tbody > tr > td > .structureddateinput > .input > .wrapper > .popup {
  top: 21px;
  left: 0;
  min-width: calc(100%);
}

.tabularcompoundinput.repeatinginput > .instances > tr.instance .removeButtonCell {
  vertical-align: top;
  width: 20px;
}

.tabularcompoundinput.repeatinginput > .instances > tr.instance .tab {
  vertical-align: top;
  width: 20px;
  position: static;
}

.tabularcompoundinput.repeatinginput > .instances > tr.instance .tab > .moveTopButton {
  position: static;
}

.tabularcompoundinput.repeatinginput > .instances > tr.instance .tab > .moveTopButton:focus,
.tabularcompoundinput.repeatinginput > .instances > tr.instance .tab > .moveTopButton:hover {
  width: 20px;
  height: 20px;
  outline-offset: 0;
  border: none;
}

.tabularcompoundinput.repeatinginput > .instances > tr.instance .removeButton {
  height: 20px;
  width: 20px;
  border: none;
}

.tabularcompoundinput.repeatinginput > .instances > tr.instance .removeButton:focus,
.tabularcompoundinput.repeatinginput > .instances > tr.instance .removeButton:hover {
  outline-offset: 0;
  left: 0;
  border-left: none;
}

.repeatinginput > .tabularcompoundinput {
  margin-bottom: 1px;
}