.titlebar {
  margin-bottom: 10px;
  background-color: inherit;
}

.titlebar > .content {
  padding-top: 10px;
  display: flex;
}

.titlebar > .content > h1, .titlebar > .content > h2 {
  font-size: 16pt;
  font-weight: 300;
}

.titlebar > .content > h1 {
  box-sizing: border-box;
  width: 70%;
}

.titlebar > .content > h2 {
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  width: 30%;
  text-align: right;
  color: #739CD2;
}

.titlebar.docked > .content {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding-bottom: 10px;
  background: inherit;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.titlebar.docked > .content > h1 {
  padding-left: 10px;
  padding-right: 10px;
}