.toolbar {
  display: flex;
  align-items: center;
}

.toolbar:not(:last-child) {
  margin-bottom: 8px;
}

.toolbar button {
  margin: 2px 4px 2px 0;
  padding: 1px 9px 1px 9px;
}

.toolbar .statusmessage {
  padding-left: 16px;
  background-image: url(../images/spinner.svg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 16px 16px;
}